# {{ namespace }}.{{ name }}

This is an [Ansible](https://www.ansible.com/) [Collection](https://github.com/ansible-collections/overview)
that is based on
[httpapi](https://docs.ansible.com/ansible/latest/plugins/httpapi.html).


## FIXME

Add some docs about your Collection!
